{% extends "layout.html" %}

{% block content %}

<div class="container bg-secondary p-5">
  {% include "mensagens.html" %}
  <div class="text-center text-dark h1"> Registrar </div>
  {% from "formshelp.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
      <div>
        {{ render_field(form.usuario, class="form-control") }}
        {{ render_field(form.nome, class="form-control") }}
        {{ render_field(form.email, class="form-control") }}
        {{ render_field(form.senha, class="form-control") }}
        {{ render_field(form.senha_confir, class="form-control") }}
        <input type="file" name="foto" class="mt-2">
      </div>
      <p><input type="submit" value="Cadastrar" class="mt-4 btn btn-dark"></p>

    </form>
</div>
{% endblock content %}